.character{
    display: grid;
    justify-items: center;
    justify-content: center;
    user-select: none;
    margin-top: 15px;
    margin-bottom: 50px;
}

.bg-blur{
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px) saturate(50%) contrast(150%);
}

.character-name{
    font-size: 40px;
    font-weight: bold;
    padding-top: 20px;
    margin-bottom: 30px;
}

.character-description{
    margin: 0 10%;
    font-size: 17px;
    max-width: 1000px;
}

