.comics{
    user-select: none;
}

.comics h2{
    text-align: center;
}

.comic-list{
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    height: 220px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.comic-list::-webkit-scrollbar{
    display: none;
}

.comic-list-item{
    margin-right: 10px;
    height: 150px;
    width: 150px;
    text-align: center;
    cursor: pointer;
}

.comic-list-item img{
    margin-bottom: 5px;
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: all ease 0.3s;
    border-radius: 10px;
}

.comic-list-item-name{
    text-align: center;
    font-size: 15px;
    width: 140px;
    height: 80px;
    opacity: 0.9;
    padding-top: 0px;
    padding-left: 0px;
    transition: all ease 0.5s;
}

.comic-list-item:hover img{
    transform: scale(1.1);
}

.comic-list:hover .left-navigate-button{
    opacity: 1;
}

.comic-list:hover .right-navigate-button{
    opacity: 1;
}

.left-navigate-button,
.right-navigate-button{
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: 150px;
    background-color: rgba(13, 26, 41, 0.5);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    transition: all ease 0.5s;
    opacity: 0;
}

.left-icon, .right-icon{
    opacity: 0.7;
}

.left-navigate-button{
    left: 0;
    border-radius: 0 10px 10px 0;
}

.left-navigate-button:hover{
    background-color: rgba(13, 26, 41, 0.8);
}

.left-navigate-button:hover .left-icon{
    transform: scale(1.1);
    opacity: 1;
    color: #FFB500;
}

.right-navigate-button{
    right: 0;
    border-radius: 10px 0 0 10px;
}

.right-navigate-button:hover{
    background-color: rgba(13, 26, 41, 0.8);
}

.right-navigate-button:hover .right-icon{
    transform: scale(1.1);
    opacity: 1;
    color: #FFB500;
}