input:focus, textarea:focus, select:focus{
    outline: none;
}

.search-form{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 30px 0px;
    height: 35px;
    width: 50%;
    margin-top: 90px;
}

.search-field {
    height: 35px;
    width: 100%;
    border-style:none;
    border-radius: 5px 0px 0px 5px;
    font-size: 16px;
    padding-left: 20px;
}

.search-button {
    height: 35px;
    width: 100px;
    border-style:none;
    border-radius: 0px 5px 5px 0px;
    background: #E62429;
    color: white;
    justify-content: center;
    align-items: center;
    transition: all ease 0.2s;
    cursor: pointer;
    padding-top: 5px;
}

.search-button:hover{
    background: #9F0013;
}

@media (max-width:760px) {

    .search-form{
        width: 100%;
        padding: 30px 30px 30px 30px;
    }

}